<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <title> Beat Central </title>
  </head>
  <body>
    <!--TOOLBAR-->
    <nav class = "navbar navbar-default">
      <form class = "container" action="/toolbar/" method="POST">
	<ul class = "nav navbar-nav navbar-right">
	  {% if isLoggedIn %}
	  <li><input type="submit" name="type" value="Settings"></li>
	  <li><input type="submit" name="type" value="Log Out"></li>
	  {% else %}
	  {% endif %}
	</ul>
      </form>
    </nav>
    <br>
    <div class = "container">
      {% block jumbo %}
      
      <div class = "jumbotron">
	<h1>Beat Central</h1>
      </div>
      <div class = "container">
	<h2>Search for music</h2>
      </div>
      <div class = "container">
	<form action = "/search/" class = "input-group" method = "GET">
	  <input class = "form-control" type = "text" required></input>
	  <input type = "submit" class = "btn-primary" value = "Go!">
	</form>
      </div>

      <br>
      {% endblock %}
      {% block content %}
      {% endblock %}
    </div>
    <br><br>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
