{% extends "base.html" %}

{% block content %}

<!-- need to for loop the list and apply the specific css to each--> 

<div class = "container">
  <h2>Search Results for {{query}}</h2>
	<br>
	{% if albums == "Empty" and artists == "Empty" and songs == "Empty" %}
	<h3> No search results found. Try again. </h3>
	{% else %}
  	<center><h2>Artists</h2></center>
	<hr width="200px">
	{% if artists == "Empty" %}
        <center><h3> No search results found. </h3></center>
	{% else %}
	{% for i in artists %}
	<br>
	<a href="/result/artist/1{{i['mbid']}}">
	<div class ="row entry" style="animation:fade {{loop.index|float / 4}}s;">
		<div class="picture col-md-1 col-md-offset-3">
			{% if i['image'] == NONE %}
			<img class="img-responsive img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
			{% else %}
			<img class="img-responsive img-circle" src="{{i['image']}}">
			{% endif %}
		</div>
		<div class="col-md-4">
			<h3>{{i['name']}}</h3>
		</div>
	</div>
	</a>
	<br>
	{% endfor %}
	{% endif %}
	<br>
	<center><h2>Albums</h2></center>
	<hr width="200px">
	{% if albums == "Empty" %}
	<center><h3> No search results found. </h3></center>
	{% else %}
	{% for i in albums %}
	<a href="/result/album/1{{i['mbid']}}">
	<div class ="row entry" style="animation:fade {{loop.index|float / 4}}s;">
		<div class="picture col-md-1 col-md-offset-3">
			{% if i['image'] == NONE %}
			<img class="img-responsive img-circle" src ="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
			{% else %}
			<img class="img-responsive img-circle" src="{{i['image']}}">
			{% endif %}
		</div>
		<div class="col-md-4">
			<h3>{{i['name']}}</h3>
		</div>
	</div>
	</a>
	<br>
	{% endfor %}
	{% endif %}
	<br>
	<center><h2>Songs<h2></center>
	<hr width="200px">
	{% if songs == "Empty" %}
	<center><h3> No search results found. </h3></center>
	{% else %}
	{% for i in songs %}
	{% if i['mbid'] == '' %}
	<a href="/result/song/0{{i['name']}}{{i['artist']}}">
	{% else %}
	<a href="/result/song/1{{i['mbid']}}">
	{% endif %}
	<div class ="row entry" style="animation:fade {{loop.index|float / 4}}s;">
		<div class="picture col-md-1 col-md-offset-3">
			{% if i['image'] == NONE %}
			<img class="img-responsive img-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/300px-No_image_available.svg.png">
			{% else %}
			<img class="img-responsive img-circle" src="{{i['image']}}">
			{% endif %}
		</div>
		<div class="col-md-4">
			<h3>{{i['name']}}</h3>{{i['artist']}}
		</div>
	</div>
	</a>
	<br>
	{% endfor %}
	{% endif %}
	{% endif %}
</div>

{% endblock %}
