{% extends "base.html" %}

{% block content %}

<!-- need to for loop the list and apply the specific css to each--> 

<div class = "container">
  <h2>Search Results for {{query}}</h2>
	<br>
	{% if albums == "Empty" and artists == "Empty" and songs == "Empty" %}
	<h3> No search results found. Try again. </h3>
	{% else %}
  	<center><h2>Artists</h2></center>
	<hr width="200px">
	{% for i in artists %}
	<div class ="row entry" style="animation:fade {{loop.index * 1}}s;">
		<div class="picture col-md-1">
			<img class="img-responsive img-circle" src="{{i['image']}}">
		</div>
		<div class="col-md-8">
			<h3>{{i['name']}}</h3>
		</div>
	</div>
	<br>
	{% endfor %}
	<br>
	<center><h2>Albums</h2></center>
	<hr width="200px">
	{% for i in albums %}
	<div class ="row entry" style="animation:fade {{loop.index * 1}}s;">
		<div class="picture col-md-1">
			{% if i['image'] == NONE %}
			NO IMAGE PLACEhOLDER
			{% else %}
			<img class="img-responsive img-circle" src="{{i['image']}}">
			{% endif %}
		</div>
		<div class="col-md-8">
			<h3>{{i['name']}}</h3>
		</div>
	</div>
	<br>
	{% endfor %}
	<br>
	<center><h2>Songs<h2></center>
	<hr width="200px">
	{% for i in songs %}
	<div class ="row entry" style="animation:fade {{loop.index * 1}}s;">
		<div class="picture col-md-1">
			<img class="img-responsive img-circle" src="{{i['image']}}">
		</div>
		<div class="col-md-8">
			<h3>{{i['name']}}</h3>
		</div>
	</div>
	<br>
	{% endfor %}
	{% endif %}
</div>

{% endblock %}
